<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
   <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0">
    <title>我在简书</title>
    <link rel="stylesheet" href="../static/css/jquery.fullPage.css">
    <script type="text/javascript" src="../static/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="../static/js/jquery.fullPage.js"></script>
    <script>
        $(function () {
            $('#result').fullpage({
                sectionsColor: '#666'
            })
        })
    </script>
</head>
<body>
    <div id="result">
        <div class="section" id="base_info">
            <div align="center">
                <img id="head_pic" src={{ baseinfo['head_pic'] }} width="168" height="168">
                <p>您好！&nbsp;<strong style="color:#FA8072">{{ baseinfo['nickname'] }}</strong></p>
                <p>截止至&nbsp;<b style="color:#FA8072">{{ baseinfo['update_time'] }}</b></p>
                <p>您在简书关注了<b style="color:#FA8072">{{ baseinfo['like_users_num'] }}</b>个用户，
                    拥有粉丝<b style="color:#FA8072">{{ baseinfo['followers_num'] }}</b>个。</p>
                <p>发表文章<b style="color:#FA8072">{{ baseinfo['share_notes_num'] }}</b>篇，
                    写下文字<b style="color:#FA8072">{{ baseinfo['words_num'] }}</b>个，
                    文章收获喜欢<b style="color:#FA8072">{{ baseinfo['be_liked_num'] }}</b>个,
                    喜欢文章<b style="color:#FA8072">{{ baseinfo['like_notes_num'] }}</b>篇</p>
                <p>关注专题<b style="color:#FA8072">{{ baseinfo['like_colls_num'] }}</b>个，
                    关注文集<b style="color:#FA8072">{{ baseinfo['like_nbs_num'] }}</b>个。</p>
                <p>发表评论<b style="color:#FA8072">{{ baseinfo['comment_notes_num'] }}</b>次，
                    点赞别人评论<b style="color:#FA8072">{{ baseinfo['like_comments_num'] }}</b>次。</p>
                <p>打赏文章<b style="color:#FA8072">{{ baseinfo['reward_notes_num'] }}</b>次</p>
            </div>
        </div>
        <div class="section" id="firt_tag_time">
            <div align="center">
                <h3>加入简书以来的第一次</h3><br><br>
                <p>您于<b style="color:#FA8072">{{ first_tag_time['join_time'] }}</b> 注册，加入简书</p>
                {% if first_tag_time['first_like_user'] %}
                <p>
                    <b style="color:#FA8072">{{ first_tag_time['first_like_user']['time']|safe }}</b>
                    &nbsp;
                    <a href="http://www.jianshu.com/u/{{ first_tag_time['first_like_user']['slug']|safe }}"
                       target="_blank">第一次关注用户</a>
                </p>
                {% endif %}
                {% if first_tag_time['first_share_note'] %}
                <p>
                    <b style="color:#FA8072">{{ first_tag_time['first_share_note']['time']|safe }}</b>
                    &nbsp;
                    <a href="http://www.jianshu.com/p/{{ first_tag_time['first_share_note']['note_id']|safe }}"
                       target="_blank">第一次发表文章</a>
                </p>
                {% endif %}
                {% if first_tag_time['first_like_note'] %}
                <p>
                    <b style="color:#FA8072">{{ first_tag_time['first_like_note']['time']|safe }}</b>
                    &nbsp;
                    <a href="http://www.jianshu.com/p/{{ first_tag_time['first_like_note']['note_id']|safe }}"
                       target="_blank">第一次喜欢文章</a>
                </p>
                {% endif %}
                {% if first_tag_time['first_like_coll'] %}
                <p>
                    <b style="color:#FA8072">{{ first_tag_time['first_like_coll']['time']|safe }}</b>
                    &nbsp;
                    <a href="http://www.jianshu.com/c/{{ first_tag_time['first_like_coll']['coll_id']|safe }}"
                       target="_blank">第一次关注专题</a>
                </p>
                {% endif %}
                {% if first_tag_time['first_like_nb'] %}
                <p>
                    <b style="color:#FA8072">{{ first_tag_time['first_like_nb']['time']|safe }}</b>
                    &nbsp;
                    <a href="http://www.jianshu.com/nb/{{ first_tag_time['first_like_nb']['notebook_id']|safe }}"
                       target="_blank">第一次关注文集</a>
                </p>
                {% endif %}
                {% if first_tag_time['first_comment'] %}
                <p>
                    <b style="color:#FA8072">{{ first_tag_time['first_comment']['time']|safe }}</b>
                    &nbsp;第一次发表评论:
                    <a href="http://www.jianshu.com/p/{{ first_tag_time['first_comment']['note_id']|safe }}"
                       target="_blank">{{ first_tag_time['first_comment']['comment_text']|safe }}</a>
                </p>
                {% endif %}
                {% if first_tag_time['first_like_comment'] %}
                <p>
                    <b style="color:#FA8072">{{ first_tag_time['first_like_comment']['time']|safe }}</b>
                    &nbsp;第一次赞了评论:
                    <a href="http://www.jianshu.com/p/{{ first_tag_time['first_like_comment']['note_id']|safe }}"
                       target="_blank">{{ first_tag_time['first_like_comment']['comment_text']|safe }}</a>
                </p>
                {% endif %}
                {% if first_tag_time['first_reward_note'] %}
                <p>
                    <b style="color:#FA8072">{{ first_tag_time['first_reward_note']['time']|safe }}</b>
                    &nbsp;
                    <a href="http://www.jianshu.com/p/{{ first_tag_time['first_reward_note']['note_id']|safe }}"
                       target="_blank">第一次打赏文章</a>
                </p>
                {% endif %}

            </div>
        </div>
        <div class="section">page3</div>
        <div class="section">page4</div>
    </div>
</body>
</html>